In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
!dir ..\data

 Volume in drive C is Windows
 Volume Serial Number is CE01-D122

 Directory of c:\Users\Anthony\GitHub\San-Francisco-Financial-Modeling\data

08/21/2022  03:15 PM    <DIR>          .
08/21/2022  03:15 PM    <DIR>          ..
08/06/2022  11:29 AM           242,265 CON_DataDictionary_Spending-and-Revenue.pdf
08/05/2022  04:55 AM       176,456,767 Spending_and_Revenue.csv
08/21/2022  03:11 PM           319,505 spending_revenue.csv
               3 File(s)    177,018,537 bytes
               2 Dir(s)  269,884,022,784 bytes free

In [17]:
expenditure = pd.read_csv(filepath_or_buffer='..\data/Spending_and_Revenue.csv')

C:\Users\Anthony\AppData\Local\Temp\ipykernel_180036\1364791321.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  expenditure = pd.read_csv(filepath_or_buffer='..\data/Spending_and_Revenue.csv')

In [7]:
expenditure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656959 entries, 0 to 656958
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Fiscal Year              656959 non-null  int64
 1   Related Govt Units       656959 non-null  object
 2   Organization Group Code  656959 non-null  int64
 3   Organization Group       656959 non-null  object
 4   Department Code          656959 non-null  object
 5   Department               656958 non-null  object
 6   Program Code             656223 non-null  object
 7   Program                  656223 non-null  object
 8   Character Code           656959 non-null  object
 9   Character                656713 non-null  object
 10  Object Code              656713 non-null  object
 11  Object                   656713 non-null  object
 12  Sub-object Code          656959 non-null  object
 13  Sub-object               656713 non-null  object
 14  Fund Type Code           656959 non-null  object
 15  Fund Type                656959 non-null  object
 16  Fund Code                656959 non-null  object
 17  Fund                     656959 non-null  object
 18  Fund Category Code       653697 non-null  float64
 19  Fund Category            653697 non-null  object
 20  Revenue or Spending      656959 non-null  object
 21  Amount                   656959 non-null  float64
dtypes: float64(2), int64(2), object(18)
memory usage: 110.3+ MB

In [8]:
expenditure.isna().sum()

Fiscal Year                   0
Related Govt Units            0
Organization Group Code       0
Organization Group            0
Department Code               0
Department                    1
Program Code                736
Program                     736
Character Code                0
Character                   246
Object Code                 246
Object                      246
Sub-object Code               0
Sub-object                  246
Fund Type Code                0
Fund Type                     0
Fund Code                     0
Fund                          0
Fund Category Code         3262
Fund Category              3262
Revenue or Spending           0
Amount                        0
dtype: int64

# Columns Description

---

- *Fiscal Year*: 

   An accounting period of 12 months. The City and County of San Francisco operates on a fiscal year that begins on July 1 and ends on June 30 the following year. The Fiscal Year ending June 30, 2012 is represented as FY2011-2012.

- *Related Govt Units*

- *Organization Group Code*: 

   Org Group is a group of Departments. For example, the Public Protection Org Group includes departments such as the Police, Fire, Adult Probation, District Attorney, and Sheriff.

- *Organization Group*:

   Org Group is a group of Departments. For example, the Public Protection Org Group includes departments such as the Police, Fire, Adult Probation, District Attorney, and Sheriff.

- *Department Code*:

   Departments are the primary organizational unit used by the City and County of San Francisco. Examples include Recreation and Parks, Public Works, and the Police Department.

- *Department*: 

   Departments are the primary organizational unit used by the City and County of San Francisco. Examples include Recreation and Parks, Public Works, and the Police Department.

- *Program Code*:

   A program identifies the services a department provides. For example, the Police Department has programs for Patrol, Investigations, and Administration.

- *Program*: 

   A program identifies the services a department provides. For example, the Police Department has programs for Patrol, Investigations, and Administration.

- *Character Code*:

   In the type hierarchy, Character is the highest level. For example, salaries, benefits, contractual services, and materials & supplies are recorded as different Characters.

- *Character*:

   In the type hierarchy, Character is the highest level. For example, salaries, benefits, contractual services, and materials & supplies are recorded as different Characters.

- *Object Code*:

   In the type hierarchy, Object is the middle level. For example, within the Salaries Character, Objects differentiate between Permanent Salaries, Temporary Salaries, and Overtime pay.

- *Object*: 

   In the type hierarchy, Object is the middle level. For example, within the Salaries Character, Objects differentiate between Permanent Salaries, Temporary Salaries, and Overtime pay.

- *Sub-object Code*:

   In the type hierarchy, Sub-object is the lowest level of detail. For instance, within the Overtime Object, Sub-object segregates overtime for nurses from overtime for police officers and fire fighters (known as uniformed staff).

- *Sub-object*:

   In the type hierarchy, Sub-object is the lowest level of detail. For instance, within the Overtime Object, Sub-object segregates overtime for nurses from overtime for police officers and fire fighters (known as uniformed staff).

- *Fund Type Code*:

   In the Fund hierarchy, Fund Type is the highest level, and is used to group Funds according to governmental accounting standards.

- *Fund Type*:

   In the Fund hierarchy, Fund Type is the highest level, and is used to group Funds according to governmental accounting standards.

- *Fund Code*:

   In the Fund hierarchy, Fund is the middle level. For example, within the Special Revenue Fund Type, you can find the Children’s Fund and the Open Space & Park Fund.

- *Fund*:

   In the Fund hierarchy, Fund is the middle level. For example, within the Special Revenue Fund Type, you can find the Children’s Fund and the Open Space & Park Fund.

- *Fund Category Code*:

   In the Fund hierarchy, Fund Category is the lowest level. Within Fund, Fund Categories group activity by their characteristics: Operating, Annual Projects, Continuing Projects, Grants, Interdepartmental/Work Order.

- *Fund Category*:

   In the Fund hierarchy, Fund Category is the lowest level. Within Fund, Fund Categories group activity by their characteristics: Operating, Annual Projects, Continuing Projects, Grants, Interdepartmental/Work Order.

- *Revenue or Spending*:

   Revenue or Spending

- *Amount*: 

   The amount earned (Revenue) or spent (Spending) by the City and County of San Francisco.

### A column and its corresponding code column have a many-to-one relationship

---

In [9]:
expenditure.head(5)

,Fiscal Year,Related Govt Units,Organization Group Code,Organization Group,Department Code,Department,Program Code,Program,Character Code,Character,...,Sub-object Code,Sub-object,Fund Type Code,Fund Type,Fund Code,Fund,Fund Category Code,Fund Category,Revenue or Spending,Amount
0,1999,No,1,Public Protection,ADM,ADM Gen Svcs Agency-City Admin,ASG,Medical Examiner,445,Intergovernmental Rev-State,...,448923,Peace Officer Training,1G,General Fund,1GAGF,General Fund,3.0,Continuing Projects,Revenue,5182.06
1,1999,No,1,Public Protection,ADM,ADM Gen Svcs Agency-City Admin,ASG,Medical Examiner,460,Charges For Services,...,460690,Medical Examiner Fees,1G,General Fund,1GAGF,General Fund,1.0,Operating,Revenue,181015.22
2,1999,No,1,Public Protection,ADM,ADM Gen Svcs Agency-City Admin,ASM,Medical Examiner - Medical Services,445,Intergovernmental Rev-State,...,448929,State Mandated Cost - SB 90,1G,General Fund,1GAGF,General Fund,1.0,Operating,Revenue,12915.00
3,1999,No,1,Public Protection,ADM,ADM Gen Svcs Agency-City Admin,ASM,Medical Examiner - Medical Services,475,Other Revenues,...,479999,Other Non-Operating Revenue,1G,General Fund,1GAGF,General Fund,1.0,Operating,Revenue,12243.69
4,1999,No,1,Public Protection,ADM,ADM Gen Svcs Agency-City Admin,AUA,Animal Welfare,420,Licenses; Permits & Franchises,...,420911,Dog License,1G,General Fund,1GAGF,General Fund,1.0,Operating,Revenue,102959.89

In [10]:
expenditure.columns

Index(['Fiscal Year', 'Related Govt Units', 'Organization Group Code',
       'Organization Group', 'Department Code', 'Department', 'Program Code',
       'Program', 'Character Code', 'Character', 'Object Code', 'Object',
       'Sub-object Code', 'Sub-object', 'Fund Type Code', 'Fund Type',
       'Fund Code', 'Fund', 'Fund Category Code', 'Fund Category',
       'Revenue or Spending', 'Amount'],
      dtype='object')

### engineer the column names to be SQL-friendly...

In [18]:
import re
columns = expenditure.columns.map(lambda col: '_'.join([strip_col.lower() for strip_col in re.split(' |-', col)]))

In [12]:
columns

Index(['fiscal_year', 'related_govt_units', 'organization_group_code',
       'organization_group', 'department_code', 'department', 'program_code',
       'program', 'character_code', 'character', 'object_code', 'object',
       'sub_object_code', 'sub_object', 'fund_type_code', 'fund_type',
       'fund_code', 'fund', 'fund_category_code', 'fund_category',
       'revenue_or_spending', 'amount'],
      dtype='object')

In [20]:
expenditure.columns = columns

In [21]:
expenditure.columns

Index(['fiscal_year', 'related_govt_units', 'organization_group_code',
       'organization_group', 'department_code', 'department', 'program_code',
       'program', 'character_code', 'character', 'object_code', 'object',
       'sub_object_code', 'sub_object', 'fund_type_code', 'fund_type',
       'fund_code', 'fund', 'fund_category_code', 'fund_category',
       'revenue_or_spending', 'amount'],
      dtype='object')

In [22]:
unique_columns = pd.DataFrame({col: [expenditure[col].nunique()] for col in expenditure.columns})

In [23]:
unique_columns

,fiscal_year,related_govt_units,organization_group_code,organization_group,department_code,department,program_code,program,character_code,character,...,sub_object_code,sub_object,fund_type_code,fund_type,fund_code,fund,fund_category_code,fund_category,revenue_or_spending,amount
0,25,4,7,7,67,71,605,562,94,74,...,4461,2859,39,33,627,617,8,11,2,502263

---

# Dimensional Modeling Preparation

### 1. Select the Business Process

- *Business Process*: City's financial transactions captured by the San Francisco Controller's Office

### 2. Declare the Grain

- *Grain*: One row per transaction per program per service type per funding type per year

### 3. Identify the Dimensions

- Date
- Program
- Type
- Funding

### 4. Identify the Facts

- Total amount in dollars of all transactions in a year

---

# ETL Preparation

Make sure already have a database name 'san_francisco' created

In [12]:
%load_ext sql

In [13]:
%sql postgresql+psycopg2://anthony:Huangjianen611!@localhost:5432/san_francisco

In [14]:
%%sql

CREATE SCHEMA IF NOT EXISTS stage;
CREATE SCHEMA IF NOT EXISTS report;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.
Done.

[]

In [15]:
%%sql

\dn

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
3 rows affected.

[('public', 'postgres'), ('report', 'anthony'), ('stage', 'anthony')]

In [16]:
%%sql

set search_path = public, stage, report;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.

[]

---

In [17]:
connection_uri = "postgresql+psycopg2://anthony:Huangjianen611!@localhost:5432/san_francisco"
engine = create_engine(connection_uri, echo=False)

In [18]:
expenditure.to_sql(name="transaction", con=engine, schema='stage', if_exists='replace')

959