In [40]:
%load_ext sql
%sql postgresql+psycopg2://anthony:Huangjianen611!@localhost:5432/san_francisco

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [41]:
%%sql

set search_path = public, stage, report;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.

[]

In [42]:
%%sql

\d

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
5 rows affected.

[('stage', 'dimfinance', 'table', 'anthony'),
 ('stage', 'dimfund', 'table', 'anthony'),
 ('stage', 'dimprogram', 'table', 'anthony'),
 ('stage', 'dimtype', 'table', 'anthony'),
 ('stage', 'transaction', 'table', 'anthony')]

---

# 1. Create Dimensional Tables

- Program Dimension
- Type Dimension
- Fund Dimension
- Finance Dimension

---

### Program Dimension

In [97]:
%%sql

drop table if exists report.dim_program cascade;

create table report.dim_program (
   program_id serial,
   program varchar(100) not null,
   program_code varchar(50) not null,
   department varchar(100) not null,
   department_code varchar(50) not null,
   organization_group varchar(100) not null,
   organization_group_code int not null,
   related_govt_units varchar(10) not null,
   primary key (program_id)
);

insert into report.dim_program
select 
   row_number() over () as program_id,
   program,
   program_code,
   department,
   department_code,
   organization_group,
   organization_group_code,
   related_govt_units
from stage.transaction
group by
   program,
   program_code,
   department,
   department_code,
   organization_group,
   organization_group_code,
   related_govt_units;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.
Done.
1571 rows affected.

[]

In [98]:
%%sql

select * from report.dim_program limit 10;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
10 rows affected.

[(1, 'Special Events', 'EVENT', 'DPH Public Health', 'DPH', 'Community Health', 4, 'No'),
 (2, 'No Program Defined', 'XXX', 'BOA Board Of Appeals - PAB', 'PAB', 'Public Works, Transportation & Commerce', 2, 'No'),
 (3, 'City Capital Projects', 'BAW', 'GEN General City / Unallocated', 'GEN', 'General City Responsibilities', 7, 'No'),
 (4, 'Operating', 'OPR', 'POL Police', 'POL', 'Public Protection', 1, 'Yes'),
 (5, 'Administration', 'ASC', 'JUV Juvenile Probation', 'JUV', 'Public Protection', 1, 'No'),
 (6, 'Services To Frail Elders', 'CIB', 'HSA Human Services Agency', 'DSS', 'Human Welfare & Neighborhood Development', 3, 'No'),
 (7, 'Community Development Block Grants', 'CGC', 'MYR Mayor', 'MYR', 'General Administration & Finance', 6, 'No'),
 (8, 'Water Capital Projects', 'BCI', 'DT GSA - Technology', 'TIS', 'General Administration & Finance', 6, 'No'),
 (9, 'Municipal Court Services', 'AMA', 'ADM Gen Svcs Agency-City Admin', 'ADM', 'General Administration & Finance', 6, 'No'),
 (10, 'No Program Defined', 'NKEY', 'PRT Port', 'PRT', 'Public Works, Transportation & Commerce', 2, 'No')]

### Type Dimension

In [99]:
%%sql

drop table if exists report.dim_type cascade;

create table report.dim_type (
   type_id serial,
   sub_object varchar(100) not null,
   sub_object_code varchar(50) not null,
   object varchar(100) not null,
   object_code varchar(50) not null,
   character varchar(100) not null,
   character_code varchar(50) not null,
   primary key (type_id)
);

insert into report.dim_type
select 
   row_number() over () as type_id,
   sub_object,
   sub_object_code,
   object,
   object_code,
   character,
   character_code
from stage.transaction
group by 
   sub_object,
   sub_object_code,
   object,
   object_code,
   character,
   character_code;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.
Done.
4458 rows affected.

[]

In [100]:
%%sql

select * from report.dim_type limit 10;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
10 rows affected.

[(1, 'Court Fines', '425210', 'Court Fines-Non Traffic', '425', 'Fines; Forfeitures & Penalties', '425'),
 (2, 'Juvenile Probation - Tanf', '440155', 'Federal-Publc Assistance Admin', '440', 'Intergovernmental Rev-Federal', '440'),
 (3, 'OTO To 5H-General Hosptl Fd', '591320', 'Other Operating Transfers Out', '593', 'Operating Transfers Out', '591'),
 (4, 'Hospital-Chgs-Other Genrl Govt', '475311', 'Chn-Other Operating Revenue', '475', 'Other Revenues', '475'),
 (5, 'Curb Cut Assessment Fee', '460691', 'Public Safety Service Charges', 'PUB_SAFE_SVC_CHGS', 'Charges for Services', 'CHGS_FOR_SERVICES'),
 (6, 'Ret Pickup, Police (New)', '470126', 'Retirement - Contributions', '470', 'Contribtns (Ret;Hss;Hlth Care)', '470'),
 (7, 'ITO To 5C-Cleanwater ProgramFd', '595220', 'ITO To 5C-Cleanwater ProgramFd', '595220', 'Intrafund Transfers Out', 'INTRA_TFR_OUT'),
 (8, 'Cto To 2S-Special Revenue Fund', '592020', 'Gen Fund Subsidy Transfer Out', '592', 'General Fund Subsidy Xfer Out', '592'),
 (9, 'IHSS Admin (State-Fed)', '445145', 'State-Public Assistance Admin', '445', 'Intergovernmental Rev-State', '445'),
 (10, 'Exp Rec Fr Sf Gen Hospital AAO', '486380', 'ISF Charges for Services to AAO Funds', '860', 'ISF Charges for Services', '860')]

### Fund Dimension

In [101]:
%%sql

drop table if exists report.dim_fund cascade;

create table report.dim_fund (
   fund_id serial,
   fund_category varchar(100) not null,
   fund_category_code varchar(50) not null,
   fund varchar(100) not null,
   fund_code varchar(50) not null,
   fund_type varchar(100) not null,
   fund_type_code varchar(50) not null,
   primary key (fund_id)
);

insert into report.dim_fund
select 
   row_number() over () as fund_id,
   fund_category,
   fund_category_code,
   fund,
   fund_code,
   fund_type,
   fund_type_code
from stage.transaction
group by 
   fund_category,
   fund_category_code,
   fund,
   fund_code,
   fund_type,
   fund_type_code;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.
Done.
837 rows affected.

[]

In [102]:
%%sql

select * from report.dim_fund limit 10;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
10 rows affected.

[(1, 'Unspecified', '0.0', 'SFIA-Debt Service Fund', 'ENT_FUND~SFIA_DEBT_SRVC', 'Enterprise Funds', 'ENT_FUND'),
 (2, 'Unspecified', '0.0', 'CP City Fac Impvt-Unallocated', 'CPTL_PRJ~15760', 'Capital Projects Funds', 'CPTL_PRJ'),
 (3, 'Unspecified', '0.0', 'SR Arts Comm-Art Enrichment', 'SP_REV~11780', 'Special Revenue Funds', 'SP_REV'),
 (4, 'Unspecified', '0.0', 'CPXCF 1500 Mission St. COP/CP', 'CPTL_PRJ~15775', 'Capital Projects Funds', 'CPTL_PRJ'),
 (5, 'Operating', '1.0', 'DSGOB TSR FOR LHH GOB', 'DEBT_SRVC~17640', 'Debt Service Funds', 'DEBT_SRVC'),
 (6, 'Grants', '4.0', 'Laguna Honda Operating Fund', '5LAAA', 'Laguna Honda Hospital Funds', '5L'),
 (7, 'Unspecified', '0.0', 'OCII CPF DEPOSITS', 'PVT_PURPS_TRST~30130', 'Private Purpose Trust Fund', 'PVT_PURPS_TRST'),
 (8, 'Continuing Projects', '3.0', 'Wastewater Operating Fund', '5CAAA', 'PUC Wastewater Funds', '5C'),
 (9, 'Unspecified', '0.0', 'CWP-Operating Grants Fund', 'ENT_FUND~CWP_OP_GRNTS', 'Enterprise Funds', 'ENT_FUND'),
 (10, 'Operating', '1.0', 'LHH Debt Service Fund', 'ENT_FUND~LHH_DEBT_SRVC', 'Enterprise Funds', 'ENT_FUND')]

### Finance Dimension

In [103]:
%%sql

drop table if exists report.dim_finance cascade;

create table report.dim_finance (
   finance_id serial,
   revenue_or_spending varchar(20) not null,
   primary key (finance_id)
);

insert into report.dim_finance
select
   row_number() over () as finance_id,
   revenue_or_spending
from stage.transaction
group by 
   revenue_or_spending;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.
Done.
2 rows affected.

[]

In [104]:
%%sql

select * from report.dim_finance;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
2 rows affected.

[(1, 'Spending'), (2, 'Revenue')]

In [105]:
%%sql

\dt

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
5 rows affected.

[('report', 'dim_finance', 'table', 'anthony'),
 ('report', 'dim_fund', 'table', 'anthony'),
 ('report', 'dim_program', 'table', 'anthony'),
 ('report', 'dim_type', 'table', 'anthony'),
 ('stage', 'transaction', 'table', 'anthony')]

---

# 2. Create Fact Table

---

In [107]:
%%sql 

drop table if exists report.transaction;

create table report.transaction (
   transaction_id serial,
   fiscal_year int not null,
   program_id int not null,
   type_id int not null,
   fund_id int not null,
   finance_id int not null,
   amount numeric(20, 2) not null,
   foreign key (program_id) references report.dim_program(program_id) on delete set null,
   foreign key (type_id) references report.dim_type(type_id) on delete set null,
   foreign key (fund_id) references report.dim_fund(fund_id) on delete set null,
   foreign key (finance_id) references report.dim_finance(finance_id) on delete set null
);

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.
Done.

[]

In [108]:
%%sql

insert into report.transaction
select 
   row_number() over () as transaction_id,
   fact.fiscal_year,
   p.program_id,
   t.type_id,
   f.fund_id,
   f1.finance_id,
   fact.amount
from stage.transaction as fact
join report.dim_program as p 
   on fact.program = p.program
      and fact.program_code = p.program_code
      and fact.department = p.department
      and fact.department_code = p.department_code
      and fact.organization_group = p.organization_group
      and fact.organization_group_code = p.organization_group_code
      and fact.related_govt_units = p.related_govt_units
join report.dim_type as t 
   on fact.sub_object = t.sub_object
      and fact.sub_object_code = t.sub_object_code
      and fact.object = t.object
      and fact.object_code = t.object_code
      and fact.character = t.character
      and fact.character_code = t.character_code
join report.dim_fund as f
   on fact.fund_category = f.fund_category
      and fact.fund_category_code = f.fund_category_code
      and fact.fund = f.fund
      and fact.fund_code = f.fund_code
      and fact.fund_type = f.fund_type
      and fact.fund_type_code = f.fund_type_code
join report.dim_finance as f1 
   on fact.revenue_or_spending = f1.revenue_or_spending;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
656958 rows affected.

[]

In [109]:
%%sql

select count(*) from report.transaction;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
1 rows affected.

[(656958,)]

In [110]:
%%sql

select * from report.transaction limit 10;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
10 rows affected.

[(1, 1999, 16, 1561, 290, 2, Decimal('5182.06')),
 (2, 1999, 16, 1633, 466, 2, Decimal('181015.22')),
 (3, 1999, 918, 532, 466, 2, Decimal('12915.00')),
 (4, 1999, 918, 632, 466, 2, Decimal('12243.69')),
 (5, 1999, 1401, 3349, 466, 2, Decimal('102959.89')),
 (6, 1999, 1401, 1682, 466, 2, Decimal('58948.98')),
 (7, 1999, 1401, 317, 466, 2, Decimal('12028.00')),
 (8, 1999, 1401, 3225, 612, 2, Decimal('45554.99')),
 (9, 1999, 1401, 29, 466, 2, Decimal('5030.00')),
 (10, 1999, 1401, 3794, 466, 2, Decimal('7485.00'))]

In [116]:
%%sql

\dt

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
5 rows affected.

[('report', 'dim_finance', 'table', 'anthony'),
 ('report', 'dim_fund', 'table', 'anthony'),
 ('report', 'dim_program', 'table', 'anthony'),
 ('report', 'dim_type', 'table', 'anthony'),
 ('stage', 'transaction', 'table', 'anthony')]