In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from typing import List

In [2]:
connection_uri = "postgresql+psycopg2://anthony:Huangjianen611!@localhost:5432/san_francisco"
engine = create_engine(connection_uri, echo=False)

In [3]:
expenditure = pd.read_sql('select * from stage.transaction', con=engine)

In [4]:
def get_invalid_feature_values(*cols, target: str, df: pd.DataFrame = expenditure) -> pd.DataFrame:
   """Group by the hierarchy of features in *cols to count the number of distinct values in the 
   target feature. Return only rows that have more than one distinct values mapped to the group.
   """
   group_cols = [col for col in cols]
   feature_with_multiple_codes = df[group_cols + [target]].groupby(group_cols, as_index=False).agg({target: 'nunique'})
   invalid_features = feature_with_multiple_codes[feature_with_multiple_codes[target] > 1][group_cols]

   return invalid_features

In [5]:
def get_invalid_feature_impute_code(*cols, target: str, invalid_features: pd.DataFrame, df: pd.DataFrame = expenditure) -> pd.DataFrame:
   """Extract a code among the many codes assigned to the invalid feature.
   """
   group_cols = [col for col in cols]
   row_condition = df[group_cols].apply(tuple, axis=1).isin(invalid_features[group_cols].apply(tuple, axis=1))
   invalid_rows = df[group_cols + [target]][row_condition]
   invalid_impute_codes = invalid_rows.groupby(group_cols, as_index=False).first()

   return invalid_impute_codes

In [6]:
def impute_codes(invalid_features_impute_codes: pd.DataFrame, df: pd.DataFrame = expenditure) -> None:
   """Impute the code to the other cells under the same hierarchy.
   """
   features_group = invalid_features_impute_codes.columns[:-1]
   target = invalid_features_impute_codes.columns[-1]

   for invalid_features_impute_code in invalid_features_impute_codes.apply(tuple, axis=1):
      invalid_group = invalid_features_impute_code[:-1]
      impute_code = invalid_features_impute_code[-1]

      df_invalid_group = (df[features_group].apply(tuple, axis=1) == invalid_group)

      df.loc[df_invalid_group, target] = df.loc[df_invalid_group, target].apply(lambda val: impute_code if val != impute_code else val)

In [7]:
def transform(hierarchy: List[str], target: str, df: pd.DataFrame = expenditure):
   """
   """
   invalid_features = get_invalid_feature_values(*hierarchy, target=target, df=df)
   invalid_impute_codes = get_invalid_feature_impute_code(*hierarchy, target=target, invalid_features=invalid_features, df=df)
   impute_codes(invalid_features_impute_codes=invalid_impute_codes, df=df)
   print(f"{target} transformation complete!")

---

# Micellaneous Attributes

In [67]:
expenditure.fiscal_year.unique()

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2012, 2013, 2011, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022, 2023], dtype=int64)

In [68]:
expenditure.related_govt_units.unique()

array(['No', 'Yes', 'NO', 'YES'], dtype=object)

In [69]:
expenditure.loc[expenditure.related_govt_units == 'NO', 'related_govt_units'] = 'No'
expenditure.loc[expenditure.related_govt_units == 'YES', 'related_govt_units'] = 'Yes'

In [70]:
expenditure.related_govt_units.unique()

array(['No', 'Yes'], dtype=object)

In [71]:
expenditure.revenue_or_spending.unique()

array(['Revenue', 'Spending'], dtype=object)

---

# Program Dimension

There should be a many-to-one relationship between the columns and their code columns

- Organization
- Department
- Program

---

### 1.1 Organization Attributes

In [8]:
invalid_organization = get_invalid_feature_values('organization_group', target='organization_group_code')

In [9]:
invalid_organization

Empty DataFrame
Columns: [organization_group]
Index: []

Each organization is assigned exactly one code. Good!

### 1.2 Department Attributes

In [10]:
expenditure[expenditure['department'].isna()]

,index,fiscal_year,related_govt_units,organization_group_code,organization_group,department_code,department,program_code,program,character_code,...,sub_object_code,sub_object,fund_type_code,fund_type,fund_code,fund,fund_category_code,fund_category,revenue_or_spending,amount
370852,370835,2012,Yes,3,Human Welfare & Neighborhood Development,RDA,None,CCA,Community Development,NKE,...,NKEY,None,7A,Agency Funds,7AZAF,Other Agency Fund,1.0,Operating,Spending,0.0

Remove the row where department is null

In [11]:
expenditure = expenditure[expenditure['department'].notna()]

### Find out what departments have multiple codes

In [12]:
invalid_departments = get_invalid_feature_values('organization_group', 'department', target='department_code')
invalid_departments.head()

                          organization_group                      department
29             General City Responsibilities  GEN General City / Unallocated
41  Human Welfare & Neighborhood Development       HSA Human Services Agency
50                         Public Protection        DEM Emergency Management

In [13]:
invalid_departments_impute_codes = get_invalid_feature_impute_code('organization_group', 'department', target='department_code', invalid_features=invalid_departments)

In [14]:
invalid_departments_impute_codes

,organization_group,department,department_code
0,General City Responsibilities,GEN General City / Unallocated,UNA
1,Human Welfare & Neighborhood Development,HSA Human Services Agency,DSS
2,Public Protection,DEM Emergency Management,ECD

In [15]:
impute_codes(invalid_departments_impute_codes)

In [16]:
get_invalid_feature_values('organization_group', 'department', target='department_code')

Empty DataFrame
Columns: [organization_group, department]
Index: []

### 1.3 Program Attributes

In [17]:
expenditure[expenditure['program'].isna()].head(5)

,index,fiscal_year,related_govt_units,organization_group_code,organization_group,department_code,department,program_code,program,character_code,...,sub_object_code,sub_object,fund_type_code,fund_type,fund_code,fund,fund_category_code,fund_category,revenue_or_spending,amount
522564,522563,2018,NO,1,Public Protection,ADP,ADP Adult Probation,None,None,INTERGOV_REV_ST,...,448999,Other State Grants & Subventns,SP_REV,Special Revenue Funds,SP_REV~13550,SR Public Protection-Grant,4.0,Grants Projects,Revenue,123413.00
522565,522564,2018,NO,1,Public Protection,ADP,ADP Adult Probation,None,None,INTER_REV_FED,...,444931,Fed Grants Pass-Thru State-Oth,SP_REV,Special Revenue Funds,SP_REV~13550,SR Public Protection-Grant,4.0,Grants Projects,Revenue,22750.49
522599,522598,2018,NO,1,Public Protection,DAT,DAT District Attorney,None,None,INTERGOV_REV_ST,...,448999,Other State Grants & Subventns,SP_REV,Special Revenue Funds,SP_REV~13550,SR Public Protection-Grant,4.0,Grants Projects,Revenue,1073820.85
522600,522599,2018,NO,1,Public Protection,DAT,DAT District Attorney,None,None,INTER_REV_FED,...,444931,Fed Grants Pass-Thru State-Oth,SP_REV,Special Revenue Funds,SP_REV~13550,SR Public Protection-Grant,4.0,Grants Projects,Revenue,707109.36
522601,522600,2018,NO,1,Public Protection,DAT,DAT District Attorney,None,None,INTER_REV_FED,...,444939,Federal Direct Grant,SP_REV,Special Revenue Funds,SP_REV~13550,SR Public Protection-Grant,4.0,Grants Projects,Revenue,296743.93

In [18]:
expenditure['program'] = expenditure['program'].fillna(value='No Program')
expenditure['program_code'] = expenditure['program_code'].fillna(value='No Program Code')

C:\Users\Anthony\AppData\Local\Temp\ipykernel_192976\3323806395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expenditure['program'] = expenditure['program'].fillna(value='No Program')
C:\Users\Anthony\AppData\Local\Temp\ipykernel_192976\3323806395.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expenditure['program_code'] = expenditure['program_code'].fillna(value='No Program Code')

### Transform the program_code column to have many-to-one relationship with the program column

In [19]:
transform(hierarchy=['organization_group', 'department', 'program'], target='program_code')

program_code transformation complete!

In [20]:
get_invalid_feature_values('organization_group', 'department', 'program', target='program_code')

Empty DataFrame
Columns: [organization_group, department, program]
Index: []

---

# Type Dimension

There should be a many-to-one relationship between the following columns and their corresponding code columns:

- Character
- Object
- Sub-object

---

### 2.1 Character Attribute

In [21]:
expenditure[expenditure.character.isna()].iloc[:5, 9:]

,character_code,character,object_code,object,sub_object_code,sub_object,fund_type_code,fund_type,fund_code,fund,fund_category_code,fund_category,revenue_or_spending,amount
203867,NKE,None,None,None,NKEY,None,1G,General Fund,1GAGF,General Fund,1.0,Operating,Spending,0.0
209749,NKE,None,None,None,NKEY,None,5A,SF International Airport Funds,5AAAA,Airport Operating Fund,1.0,Operating,Spending,0.0
216351,NKE,None,None,None,NKEY,None,5M,MTA Municipal Railway Funds,5MTAF,Muni Trust & Agency Fund,1.0,Operating,Spending,0.0
216880,NKE,None,None,None,NKEY,None,5P,Port Of San Francisco Funds,5PTAF,Port Trust & Agency Fund,1.0,Operating,Spending,0.0
218475,NKE,None,None,None,NKEY,None,5W,PUC Water Department Funds,5WTAF,Water Trust & Agency Fund,1.0,Operating,Spending,0.0

In [22]:
expenditure[expenditure.character_code == 'NKE']['character'].unique()

array([None], dtype=object)

In [23]:
expenditure[expenditure.character.isna()]['character_code'].unique()

array(['NKE'], dtype=object)

In [24]:
expenditure.loc[:, 'character'] = expenditure.loc[:,'character'].fillna('No Character')

C:\Users\Anthony\AppData\Local\Temp\ipykernel_192976\964813586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expenditure.loc[:, 'character'] = expenditure.loc[:,'character'].fillna('No Character')

In [25]:
expenditure.isna().sum()['character']

0

In [26]:
get_invalid_feature_values('character', target='character_code').head(5)

                      character
0                Aid Assistance
1                  Aid Payments
2                Business Taxes
4  Capital Contributions-Others
5                Capital Outlay

### Transform the character column

In [27]:
transform(hierarchy=['character'], target='character_code')

character_code transformation complete!

In [28]:
get_invalid_feature_values('character', target='character_code')

Empty DataFrame
Columns: [character]
Index: []

### 2.2 Object Attribute

In [29]:
expenditure[expenditure.object.isna()].iloc[:5, 11:]

,object_code,object,sub_object_code,sub_object,fund_type_code,fund_type,fund_code,fund,fund_category_code,fund_category,revenue_or_spending,amount
203867,None,None,NKEY,None,1G,General Fund,1GAGF,General Fund,1.0,Operating,Spending,0.0
209749,None,None,NKEY,None,5A,SF International Airport Funds,5AAAA,Airport Operating Fund,1.0,Operating,Spending,0.0
216351,None,None,NKEY,None,5M,MTA Municipal Railway Funds,5MTAF,Muni Trust & Agency Fund,1.0,Operating,Spending,0.0
216880,None,None,NKEY,None,5P,Port Of San Francisco Funds,5PTAF,Port Trust & Agency Fund,1.0,Operating,Spending,0.0
218475,None,None,NKEY,None,5W,PUC Water Department Funds,5WTAF,Water Trust & Agency Fund,1.0,Operating,Spending,0.0

In [30]:
expenditure[expenditure.object.isna()]['object_code'].unique()

array([None], dtype=object)

In [31]:
expenditure[expenditure.object_code.isna()]['object'].unique()

array([None], dtype=object)

In [32]:
expenditure['object'] = expenditure.object.fillna('No Object')

C:\Users\Anthony\AppData\Local\Temp\ipykernel_192976\1681905460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expenditure['object'] = expenditure.object.fillna('No Object')

In [33]:
expenditure.loc[expenditure.object_code.isna(), 'object_code'] = 'No Object Code'

In [34]:
expenditure.isna().sum()[11:13]

object_code    0
object         0
dtype: int64

In [35]:
get_invalid_feature_values('character', 'object', target='object_code').head(5)

                       character                        object
46                Business Taxes            Gross Receipts Tax
49                Business Taxes              Registration Tax
51  Capital Contributions-Others  Capital Contributions-Others
52                Capital Outlay               Animal Purchase
62                Capital Outlay            Equipment Purchase

### Transform the object_code column

In [36]:
transform(hierarchy=['character', 'object'], target='object_code')

object_code transformation complete!

In [37]:
get_invalid_feature_values('character', 'object', target='object_code')

Empty DataFrame
Columns: [character, object]
Index: []

### 2.3 Sub-object Attribute

In [38]:
expenditure[expenditure.sub_object.isna()].iloc[:5, 13:]

,sub_object_code,sub_object,fund_type_code,fund_type,fund_code,fund,fund_category_code,fund_category,revenue_or_spending,amount
203867,NKEY,None,1G,General Fund,1GAGF,General Fund,1.0,Operating,Spending,0.0
209749,NKEY,None,5A,SF International Airport Funds,5AAAA,Airport Operating Fund,1.0,Operating,Spending,0.0
216351,NKEY,None,5M,MTA Municipal Railway Funds,5MTAF,Muni Trust & Agency Fund,1.0,Operating,Spending,0.0
216880,NKEY,None,5P,Port Of San Francisco Funds,5PTAF,Port Trust & Agency Fund,1.0,Operating,Spending,0.0
218475,NKEY,None,5W,PUC Water Department Funds,5WTAF,Water Trust & Agency Fund,1.0,Operating,Spending,0.0

In [39]:
expenditure[expenditure.sub_object_code == 'NKEY']['sub_object'].unique()

array([None], dtype=object)

In [40]:
expenditure[expenditure.sub_object.isna()]['sub_object_code'].unique()

array(['NKEY'], dtype=object)

In [41]:
expenditure.loc[expenditure.sub_object_code == 'NKEY', 'sub_object'] = 'No Sub Object'

In [42]:
expenditure.isna().sum()[13:15]

sub_object_code    0
sub_object         0
dtype: int64

In [43]:
get_invalid_feature_values('character', 'object', 'sub_object', target='sub_object_code').head(5)

,character,object,sub_object
523,Charges For Services,Net Patient Revenue,Patient Payments
767,Charges For Services,Revenue Deductions,CharitableAlloI-PSlidingFeeAdj
913,Charges for Services,Contl Rev Deduct,CharitableAlloI-PSlidingFeeAdj
1251,Charges for Services,Net Patient Revenue,Patient Payments
1734,Expenditure Recovery,Expend Recov Svc to AAO Fund,Exp Rec Fr Trial Courts (AAO)

### Transform the sub_object_code column

In [44]:
transform(hierarchy=['character', 'object', 'sub_object'], target='sub_object_code')

sub_object_code transformation complete!

In [45]:
get_invalid_feature_values('character','object', 'sub_object', target='sub_object_code')

Empty DataFrame
Columns: [character, object, sub_object]
Index: []

---

# 3. Fund Dimension

- Fund Type
- Fund
- Fund Category

---

### 3.1 Fund Type Attribute

In [46]:
get_invalid_feature_values('fund_type', target='fund_type_code').head(5)

                fund_type
0            Agency Funds
1  Capital Projects Funds
3      Debt Service Funds
6            General Fund
8  Internal Service Funds

### Transform the fund_type column

In [47]:
transform(hierarchy=['fund_type'], target='fund_type_code')

fund_type_code transformation complete!

In [48]:
get_invalid_feature_values('fund_type', target='fund_type_code')

Empty DataFrame
Columns: [fund_type]
Index: []

### 3.2 Fund Attribute

In [49]:
get_invalid_feature_values('fund_type', 'fund', target='fund_code').head(5)

                 fund_type                        fund
205       Enterprise Funds         Sustainable Streets
428  Special Revenue Funds  Children and Families Fund
429  Special Revenue Funds             Children's Fund

### Transform the fund_code column

In [50]:
transform(hierarchy=['fund_type', 'fund'], target='fund_code')

fund_code transformation complete!

In [51]:
get_invalid_feature_values('fund_type', 'fund', target='fund_code').head(5)

Empty DataFrame
Columns: [fund_type, fund]
Index: []

### 3.3 Fund Category Attribute

In [52]:
expenditure[expenditure.fund_category.isna()].iloc[:5, -4:]

        fund_category_code fund_category revenue_or_spending       amount
372602                 NaN          None             Revenue  25075206.75
375175                 NaN          None             Revenue      9053.31
375183                 NaN          None             Revenue  12819961.36
400202                 NaN          None            Spending  45608726.00
400204                 NaN          None            Spending  65155552.05

In [53]:
expenditure[expenditure.fund_category.isna()]['fund_category_code'].unique()

array([nan])

In [54]:
expenditure[expenditure.fund_category_code.isna()]['fund_category'].unique()

array([None], dtype=object)

In [55]:
expenditure.loc[expenditure.fund_category.isna(), 'fund_category'] = 'No Fund Category'
expenditure.loc[expenditure.fund_category_code.isna(), 'fund_category_code'] = 'No Fund Category Code'

C:\Users\Anthony\AppData\Local\Temp\ipykernel_192976\2376073921.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expenditure.loc[expenditure.fund_category_code.isna(), 'fund_category_code'] = 'No Fund Category Code'

In [56]:
expenditure.isna().sum()[-4:-2]

fund_category_code    0
fund_category         0
dtype: int64

In [57]:
get_invalid_feature_values('fund_type', 'fund', 'fund_category', target='fund_category_code')

Empty DataFrame
Columns: [fund_type, fund, fund_category]
Index: []

Great! The fund_category_code column already satisfies the one-to-many relationship with the fund_category column

---

# Load into the database

In [72]:
expenditure.to_sql(name='transaction', con=engine, schema='stage', if_exists='replace')

958

In [59]:
%load_ext sql
%sql postgresql+psycopg2://anthony:Huangjianen611!@localhost:5432/san_francisco

In [60]:
%%sql

set search_path = public, stage, report;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
Done.

[]

In [62]:
%%sql

\d stage.transaction

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
24 rows affected.

[['level_0', 'bigint', ''],
 ['index', 'bigint', ''],
 ['fiscal_year', 'bigint', ''],
 ['related_govt_units', 'text', ''],
 ['organization_group_code', 'bigint', ''],
 ['organization_group', 'text', ''],
 ['department_code', 'text', ''],
 ['department', 'text', ''],
 ['program_code', 'text', ''],
 ['program', 'text', ''],
 ['character_code', 'text', ''],
 ['character', 'text', ''],
 ['object_code', 'text', ''],
 ['object', 'text', ''],
 ['sub_object_code', 'text', ''],
 ['sub_object', 'text', ''],
 ['fund_type_code', 'text', ''],
 ['fund_type', 'text', ''],
 ['fund_code', 'text', ''],
 ['fund', 'text', ''],
 ['fund_category_code', 'text', ''],
 ['fund_category', 'text', ''],
 ['revenue_or_spending', 'text', ''],
 ['amount', 'double precision', '']]

In [63]:
%%sql

select count(*) from stage.transaction;

 * postgresql+psycopg2://anthony:***@localhost:5432/san_francisco
1 rows affected.

[(656958,)]